{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Dockerizing Django!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "landing-page.min.css" %}">
    <link rel="stylesheet" href="{% static "main.css" %}">
  </head>
  <body id="page-top">
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">KeywordWiki</a>
        {% with request.resolver_match.view_name as view_name %}
          {% if view_name != 'keywordwiki:index' %}
            <form class="form-inline mr-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="eg: kubernetes" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          {% endif %}
        {% endwith %}
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="{% static "d3.layout.cloud.js" %}"></script>
    <script>
      {% block custom_script %}
      {% endblock %}
    </script>
    <script src="{% static "custom.js" %}"></script>
  </body>
</html>