{% extends "_base.html" %}


{% block content %}
<header class="masthead col">
        <div class="jumbotron jumbotron-fluid about-para">
            <div class="container">
                <h1 class="display-4">About</h1>
                <p class="lead">
                    <p>
                    I created this project to find out more about some keywords or buzzwords. When I read something new
                    from a website I always struggle to understand some words as they are new to me. To learn about those
                    I try to search them on google but the problem is you to have to read a lot of articles, courses which can
                    be found on google but what if you could know which resources are already marked as good from others. Will make your life easier, right?
                    And that is the goal of this project. You should be able to find some resources related to a keyword which are already
                    suggested by some users.
                    </p>
                    <p>
                            This project is open source and crowd sourced. If you want to request any feature or find any bug, please create a issue on <a href="https://github.com/faiyaz26/keywordwiki" target="_blank">Github</a> repository. 
                    </p>
                </p>
            </div>
  </div>
</header>

<!--
<div class="text-center">
  {% load staticfiles %}
  <br>
  <img src="http://media.django.es.s3.amazonaws.com/nuevo/images/djangopony.png">
  <br>
  <p>This page has been viewed <strong>{{counter}}</strong> times!</p>
</div>

<br>

<form action="/" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <input name="item_text" class="form-control input-lg" type="text" placeholder="Enter a message" required>
  </div>
  <input type="submit" class="btn btn-success btn-lg btn-block" value="Submit">
</form>

<br>
<hr>

<div>
</div>
-->

{% endblock content %}

{% block custom_script %}
  
{% endblock %}